<?php
/** @var $block \Avanti\ShareCart\Block\Cart\Button */
?>
<script data-role="avanti_show_download_share-tmpl" type="text/x-magento-template">
    <button data-bind="click:function(){}"
            name="action_sharecart_link"
            class="action_sharecart_link"
            title="<?= __('Share Cart') ?>"
            class="download cart">
        <span><?= /** @noEscape */ __('Share Cart') ?></span>
    </button>
</script>

<script>
    require(
        ['jquery'],
        function($){
            var template = $('[data-role=avanti_show_download_share-tmpl]');

            if (template.length) {
                $('.cart.main.actions').prepend(template.html().trim());
            }

            $(document).on('click','.action_sharecart_link',function (event) {
                event.preventDefault();
                let ajaxurl = '<?php echo $block->getAjaxUrl() ?>';
                $.ajax({
                    url:ajaxurl,
                    type:'POST',
                    showLoader: true,
                    dataType:'json',
                    data: {},
                    success:function(response){
                        console.log(response.url);
                        const shareCartUrl = document.createElement('textarea');
                        shareCartUrl.value = response.url;
                        document.body.appendChild(shareCartUrl);
                        shareCartUrl.select();
                        document.execCommand('copy');
                        document.body.removeChild(shareCartUrl);
                        event.currentTarget.setAttribute('class', 'avanti-tooltipped');
                        event.currentTarget.setAttribute('aria-label', "<?= /** @noEscape */ __('Copied!') ?>");
                    },
                    error:function (response) {

                    }
                });
            });
        });
</script>