.actions .primary.sharecart {
    margin: 0 10px 15px;
}

.avanti-tooltipped {
    position: relative;
    border-radius: 30px;
    background-color: #88b149;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    letter-spacing: 0.96px;
    border: 0;
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
}

a.avanti-tooltipped {
    position: relative;
    color: #387c2b;
    background-color: unset;
    text-transform: unset;
    font-size: unset;
    letter-spacing: unset;
    height: unset;
    letter-spacing: unset;
}

.avanti-tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, .8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, .8)
}

.avanti-tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, .8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 100%;
    right: 50%;
    margin-top: 5px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
}

.avanti-tooltipped:hover:before,
.avanti-tooltipped:active:before,
.avanti-tooltipped:focus:before,
.avanti-tooltipped:hover:after,
.avanti-tooltipped:active:after,
.avanti-tooltipped:focus:after {
    display: inline-block;
    text-decoration: none
}

button.avanti-tooltipped:hover {
    background-color: #88b149;
    text-transform: uppercase;
    color: white;
    border: 0
}

.action_sharecart_link,
.action_sharecart_link:focus,
.action_sharecart_link:active,
.action_sharecart_link:hover {
    border-radius: 30px;
    background-color: #88b149;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    letter-spacing: 0.96px;
    border: 0;
    height: 36px;
    padding-left: 25px;
    padding-right: 25px;
}

button.avanti-tooltipped:hover {
    border: 0
}